<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1 v-once>{{ message }}</h1> 
	</div>
	<script type="text/javascript">
	var vm = new Vue ({
		el: '#app',
		data: {
			message : 'hello world',
		}
	})
	</script>
</body>
</html>