<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<style type="text/css">
		.title{
			color:green;
		}
		.title1{
			color:red;
		}
	</style>

	<div id="app">
		<h1 v-bind:class = "class_h1"> {{message}} </h1>
		<h1 v-bind:class = "class_h2"> {{message1}} </h1>  
	</div>
	<script type="text/javascript">
	Vue.config.silent=true
	var vm = new Vue ({
		el: '#app',
		data: {
			message : "hello world",
			class_h1 : "title",
			message1 : "hello world", 
			class_h2 : "title1",
		},
	})
	</script>
</body>
</html>