<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		 <div v-if="nilai === 'A'">
		 	Sempurna
		 </div>
		 <div v-else-if="nilai === 'B'">
		 	Bagus
		 </div>
		 <div v-else-if="nilai === 'C'">
		 	Cukup
		 </div>
		 <div v-else>
		 	Kurang
		 </div>
	</div>
	<script> 
	var vm = new Vue ({
		el: '#app',
		data: { 
			nilai : "B",   
		},   
	})
	</script>
</body>
</html>