<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		  <button v-on:click= "counter += 1">
		  	Counter
		  </button>
		  <p> Button di atas telah diklik sebanyak {{ counter }} kali.</p>
	</div>
	<script> 
	var vm = new Vue ({
		el: '#app',
		data: { 
			counter : 0   
		},   
	})
	</script>
</body>
</html>