<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		<input type="text" v-model="keyword" placeholder="ketikkan kata kunci">
		<ul>
			<li v-for="(book, index) of filterBooks" : key="index">
			{{ book }}
			</li>
		</ul>  
	</div>
	<script> 
	var vm = new Vue ({
		el: '#app',
		data: { 
			keyword : '',
			books : [
				'C++ High Performance',
				'Mastering Linux Security'
				]  
		},
		computed : {
			filterBooks(){
				return this.books.filter((book)=>{
					return book.includes(this.keyword)
				})
			} 
	} 
})
</script>
</body>
</html>