<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		 <form>
		 	<input type="text" name="title" v-model="title" placeholder="masukkan judul "/>

		 	{{ title }} <br><br>
		 	<textarea name="description" v-model="description" placeholder="masukkan deskripsi"></textarea>
		 	{{ description }}
		 </form>  
	</div>
	<script> 
	var vm = new Vue ({
		el: '#app',
		data :{
			 title : "",
			 description : ""   
		},
	}) 
	</script>
</body>
</html>