<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		 <form>
		 	<input type="text" name="title" value="title" @input="title=$event.target.value"/>

		 	{{ title }} 
		 </form>  
	</div>
	<script> 
	var vm = new Vue ({
		el: '#app',
		data :{
			 title : "Mastering"   
		},
	}) 
	</script>
</body>
</html>