<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1>{{ message }}</h1>
		<h1>{{ age }}</h1>
		<h1>{{ gender }}</h1>
		<h1>{{ hobby[0] }}</h1>
		<h1>{{ children[2] }}</h1>
	</div>
	<script type="text/javascript">
	var vm = new Vue ({
		el: '#app',
		data: {
			message : 'wow reaktif ya anak saya fuad!',
			age : 20,
			gender : true,
			hobby : ['coding','eat'],
			children : {
				1:'wayyu',
				2:'bima',
				3:'anak',
				}
			},
			beforeCreate(){
				console.log('beforeCreate :' + 'message ='+ this.message)
			},
			created() {
				console.log('created:'+'message='+ this.message)
			},
			beforeMount(){
				console.log('before mount :' + 'el ='+ this.$el.textContent)
			},
			mounted() {
				console.log('mounted:'+'el='+ this.$el.textContent)
			},
			beforeUpdate(){
				console.log('before update :' + 'el ='+ this.$el.message)
			},
			updated() {
				console.log('update:'+'el='+ this.$el.message)
			},
			beforeDestroy(){
				console.log('before destroy')
			},
			destroyed() {
				console.log('destroyed')
			},
		})

		

		vm.$watch('message', function (newValue, oldValue){
			console.log('var message diubah dari '+ oldValue +'menjadi' +newValue)
		})
		vm.message ='Selamat Datang!'
		
		vm.$destroy()

	</script>
</body>
</html>