<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		 <ul>
		 	<li v-for="(book,index) in books">
		 		{{ index+1 }}. {{book}}
		 	</li>
		 </ul>	   
	</div>
	<script> 
	var vm = new Vue ({
		el: '#app',
		data :{
			books: [ 
			'C++ High Performance',
			'Mastering Programming Blueprints',
			'Mastering PostgreSQL 10'   
		]
	}
	}) 
	</script>
</body>
</html>