<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		<h1> {{ counter }} </h1> 
		<button onclick="vm.increment()"> + </button> 
	</div>
	<script type="text/javascript"> 
	var vm = new Vue ({
		el: '#app',
		data: {
			counter : 0, 
		}, 
		 methods:{
		 	increment(){
		 		this.counter++
		 	}
		 }
	})
	</script>
</body>
</html>