<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		<h1> upper : {{ message | upper }} </h1>
		<h1> reverse : {{ message | reverse }} </h1>
		<h1> upper & reverse : {{ message | upper | reverse }} </h1>
	</div>
	<script type="text/javascript"> 
	var vm = new Vue ({
		el: '#app',
		data: {
			message : 'Hello Indonesia',  
		}, 
		 filters: {
		 	upper (text) {
		 		return text.toUpperCase()
		 	},
		 	reverse (text) {
		 		return text.split('').reverse().join('')
		 	}
		 }
	})
	</script>
</body>
</html>