<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		{{ fullName }}
	</div>
	<script type="text/javascript"> 
	var vm = new Vue ({
		el: '#app',
		data: {
			firstName : 'Fuad',
			lastName  : 'Zikri',  
		}, 
		 computed: {
		 	fullName : function() {
		 		return this.firstName + ' ' + this.lastName
		 	}
		 }
	})
	</script>
</body>
</html>