<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body> 
	<div id="app">
		<form>
		 <input type="radio" id="laravel" value="A" v-model="picked">
				<label for="laravel">Laravel</label>
				<br>
				<input type="radio" id="vue" value="B" v-model="picked">
				<label for="vue">Vue</label>
				<br>
				<input type="radio" id="laravelvue" value="C" v-model="picked">
				<label for="vue">List Book</label>
				<br>
		<span>Pilihan Paket : {{ picked }}</span>
				<br>
				<br>
		<select v-model="selected">
			<option disabled value="">Pilih Salah Satu</option>
			<option>notepad</option>
			<option>sublime</option>
			<option>html pad</option>
		</select><br>
		<span>Selected: {{ selected }}</span>
				<br><br>

		<select v-model="pilihan" multiple>
			<option>notepad</option>
			<option>sublime</option>
			<option>html pad</option>
		</select>
		<br>
		<span>Pilihan: {{ pilihan }}</span>
				<br><br>	

		<input type="checkbox" id="notepad" value="notepad" v-model="checkedNames">
		<label for="notepad">notepad</label>
		<input type="checkbox" id="sublime" value="sublime" v-model="checkedNames">
		<label for="sublime">sublime</label>
		<input type="checkbox" id="html pad" value="html pad" v-model="checkedNames">
		<label for="html pad">html pad</label>
		<br>
		<span>Checked names: {{ checkedNames }}</span>
				<br>
				<br>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>			
		</form>  
	</div>
	
	<script> 
	var vm = new Vue ({
		el: '#app',
		data:{ 
			picked : "",
			selected: "",
			pilihan: "",
			checkedNames:[],
			checked:false
		},
	}) 
	</script>
</body>
</html>